<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Error</title>
	<style type="text/css">
		body {
			display: flex;
			height: 100vh;
		}
		.error-msg {
			background-color: #ededed;
			border-radius: 4px;
			padding: 38px;
    		width: 40%;
    		margin: auto;
    		text-align: center;
    		font-size: 26px;
		}
		.error-msg div {
			font-size: 18px;
			margin: 8px 0px;
		}
	</style>
</head>
<body>
	<div class="error-msg">
		Error : can't find your page
		<div>
			Goto : <a href="/home">Home</a>
		</div>
	</div>
</body>
</html>