<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Call App</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="landingPage.css">
</head>
<body>
	<div class="hero">
		<div class="hero-title">
			Video Call App
		</div>
		<div class="hero-sub-title">
			Easily video call anyone. Save contacts, create video call groups, etc.
		</div>
		<div class="hero-controls">
			<button class="home-big-btns"><a href="/login">Login</a></button>
			<button class="home-big-btns"><a href="/signup">Sign Up</a></button>
		</div>
	</div>
</body>
</html>