<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log In</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
	<div class="root">
		<div class="login-modal">
			<div class="modal-title">
				Log In
			</div>
			<div class="form-cont">
				<form action="/login", method="POST">

					<div class="form-grp">
						<label>Email</label>
						<input type="email" name="email">
					</div>
					<div class="form-grp">
						<label>Passward</label>
						<input type="password" name="password">
					</div>
					<button type="submit" class="highlighted-btn">Log In</button>
				</form>		
			</div>
			<div class="modal-footer">
				Don't have a account ? 
				<a href="/signin">Sign In</a>
			</div>
		</div>
	</div>
</body>
</html>