.root {
	background-color: limegreen;
	height: 100vh;
}

.login-modal {
	background-color: lightgray;
	max-width: 50%;
	margin: auto;
}
.modal-title {
	margin: 24px auto;
}
.form-cont {

}
.form-grp {

}
input {

}
label {

}
.highlighted-btn {

}
.modal-footer {

}
a {

}
